<div class="container">
    <div class="row valign-wrapper">
        <div class="col s6 offset-s1 valign">
            <form class="" style="width: 450px;">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Sing In</h4>
                        <p class="card-category">Enter your email en password.</p>
                    </div>
                    <div class="card-body">
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input type="email" name="email" id="email" class="validate">
                            <label for="email">Email</label>
                            <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email address" type="email">
                    </mat-form-field> -->
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">code</i>
                            <input type="password" name="password" id="password" class="validate">
                            <label for="password">Password</label>
                            <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" type="password">
                    </mat-form-field> -->
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                            Sign In
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>